<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.unibl.etf.jkviz">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kviz"
        android:usesCleartextTraffic="true">
        <activity android:name="org.unibl.etf.jkviz.UsernameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.FacebookActivity"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider457837392658392"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <activity android:name="org.unibl.etf.jkviz.HighScoreActivity" />
        <activity android:name="org.unibl.etf.jkviz.SettingsActivity" />
        <activity android:name="org.unibl.etf.jkviz.SightsActivity" />
        <activity android:name="org.unibl.etf.jkviz.NeighboursActivity" />
        <activity android:name="org.unibl.etf.jkviz.FlagsActivity" />
        <activity android:name="org.unibl.etf.jkviz.NewsActivity" />
        <activity android:name="org.unibl.etf.jkviz.MainActivity">
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="org.unibl.etf.jkviz.MapActivity" />
        <activity android:name="org.unibl.etf.jkviz.CapitalsActivity" />
        <activity android:name="org.unibl.etf.jkviz.CategoriesActivity" />
    </application>

</manifest>